{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div style="text-align: center; margin-top: 50px;">
        <h1>{{ title }}</h1>
        <p>{{ subtitle }}</p>
    </div>
{% endblock %}
